.trolley-status{
    .navbar{
        background-color: black;
        height: 60px;
   .row
    {
      width: 100%;
    }
        h1{
            font-size:2rem;
           color:white;
           text-align: center;
           padding-left: 25px;

        }
    }
    .cureenttime{
            span
            {
              color:white;
              font-size:1.2rem;
              font-weight: bold;
            }  
    }
    img
    {
        height: 40px;
    }
  
  
    .class{
        background-color: yellow;
    } 
  
}
.tablestatus{
    margin: 5px 15px ;
    box-shadow: 2px 2px 2px silver;
    border-radius: 9px;

    .NameClasss{
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

.table{
    tr{
        
        td{
            padding: 5px 5px;
            border-radius: 9px; 
           
        }
    }
    .bodystyle{
        tr{
            td{
                font-weight: bold;
                font-size: 1.2rem;
                border-radius: 5px 5px;
                
            }
        }
    }
}

.headclass{
    background-color: #f10909;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 9px;
    width: 100%;
}

.headclass1
{
    width: 290px;
}
}

